html,body{
    margin: 0;
}
.form-container{
    padding: 3em 8em;
    border-radius: 25px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    margin-top: calc(100%/20);
    margin-bottom: calc(100%/20);
}

.showContainer{
    padding: 3em 8em;
    border-radius: 25px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: calc(100%/20);
}
.form-control{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
    background-color: transparent !important;
}
.form-control:focus{
    border-bottom: 1px solid rgba(0, 0, 0, 1) !important;
    background-color: transparent !important;
}


.fa-user, .fa-lock{
    padding: 12px 2px;
    box-sizing: border-box;
}