.contenedor-menu .menu ul { 
	display: none; 
}
.contenedor-menu .menu li { 
	list-style-type: none;
	margin-top: 1.5em;
 }

 .contenedor-menu .menu li ul li{ 
	list-style-type:circle;
	margin-top: 1.5em;
 }

.menu{
	margin-right: 1em;
}
.menu *{
	color: whitesmoke !important;
}

.editmargin{
	margin-left: -1em;
}